<div class="content">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div id="imagecontainer"></div>
    </div>
    <div class="col-md-5">
      <h2>Das ist ein Aboutme</h2>
      <p id="quote">
        <i>Das ist ein Quote
          <br>
          Author XY
        </i>
      </p>
      <p>Das ist ein Text. Das ist ein Text.</p>

      <div class="card-container">
        <a class="custom_card" target="_blank" rel="noopener" href="#">Über mich</a>
      </div>
      <div class="card-container">
        <a class="custom_card" target="_blank" rel="noopener" href="#">Über mich2</a>
      </div>
    </div>
  </div>
</div>
