@import "globalvariables";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
  width: 100vw;
}

h1 {
  font-size: 2.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

q {
  font-style: italic; // for quotes
}

.spacer {
  flex: 1;
}

.content {
  display: flex;
  margin: 7vh auto;
  padding: 0 16px;
  max-width: $content-maxwidth;
  flex-direction: column;
  //align-items: center;
}

span.dividerline {
  margin-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  border-top: solid $divider-color 1px;
  max-width: 1200px; // default: 960;
}

// has to be added with ngFor last element
.dividerline-last-item {
  span.dividerline {
    margin-top: 0;
    padding-bottom: 0;
    border: none;
  }
}

img-fluid {
  max-width: 100%;
  height: auto;
}

.img-container {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: $img-container-maxwidth;
}

.shadow {
  border-radius: 7px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.custom_card {
  border-radius: 4px;
  border: 1px solid $custom-card-bordercolor;
  background-color: $custom-card-backgroundcolor;
  height: 70px;
  width: 250px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .custom_card:not(:last-child) {
  margin-right: 0;
}

.custom_card.card-small {
  height: 50px;
  width: 200px;
}

.card-container .custom_card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .custom_card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.custom_card.highlight-card {
  background-color: $primary-color;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.custom_card.custom_card.highlight-card span {
  margin-left: 60px;
}

a,
a:visited,
a:hover {
  color: $anchor-basecolor;
  text-decoration: none;
}

a:hover {
  color: $anchor-hovercolor;
}

.nav-pills .nav-link.active {
  background-color: transparent;
  color: $anchor-basecolor;
  border: 1px $secondary-color solid;
}

.nav-item-customborder .active {
  border-bottom: 1px $secondary-color solid;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .custom_card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .custom_card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }

  .nav-item-customborder {
    font-size: 14px;
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
