/* variables, used globally in every component */

$primary-color: #6c757d;
$secondary-color: #9ABAEF; // rgba(154, 186, 239, 1)
$grey-lighter: #d2d2d7;
$grey-default: #848d95;

$header-maxheight: 48px;
$footer-height: 180px;
