<!-- Footer -->
<footer>
  <div class="row justify-content-center align-self-center">
    <div id="footerLine">
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="card-container">
      <a class="social-items" title="Xing-Profil" target="_blank" rel="noopener" [href]="urlXing">
        <fa-icon [icon]="faXing" [styles]="{'color': '#9ABAEF'}"></fa-icon>
      </a>
      <a class="social-items" title="LinkedIn-Profil" target="_blank" rel="noopener" [href]="urlLinkedIn">
        <fa-icon [icon]="faLinkedinIn" [styles]="{'color': '#9ABAEF'}"></fa-icon>
      </a>
      <a class="social-items"  title="Github-Profil" target="_blank" rel="noopener" [href]="urlGithub">
        <fa-icon [icon]="faGithubAlt" [styles]="{'color': '#9ABAEF'}"></fa-icon>
      </a>
      <a class="social-items" title="Stackoverflow-Profil" target="_blank" rel="noopener" [href]="urlStackoverflow">
        <fa-icon [icon]="faStackOverflow" [styles]="{'color': '#9ABAEF'}"></fa-icon>
      </a>
    </div>
  </div>
  <div id="bottomLineContainer">
    <div class="row justify-content-center align-items-center">
      <a routerLink="/legals">Impressum</a>
      <a routerLink="/privacy">Datenschutz</a>
    </div>
    <div class="row justify-content-center align-items-center" id="copyrightContainer">
      <p>
        <small
          >made with passion. and caffeine. &copy; Copyright
          {{ currentYear }} Dennis Stoklosa</small
        >
      </p>
    </div>
  </div>
</footer>
