@import "globalvariables";

footer {
  /* Set the fixed height of the footer here */
  line-height: 20px;
  height: 180px;
  position: absolute;
  bottom: 0;
  width: 90vw;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

#footerLine {
  margin-top: 20px;
  padding-bottom: 40px;
  width: 90%;
  border-top: solid $grey-lighter 1px;
  max-width: 1200px; // default: 960;
}

footer a {
  display: flex;
  align-items: center;
}

footer #copyrightContainer {
  margin-top: 10px;
}

footer #copyrightContainer small {
  color: $grey-default;
}

#bottomLineContainer {
  margin-top: 20px;
}

#bottomLineContainer a {
  margin-left: 20px;
  margin-right: 20px;
}
