@import "globalvariables";

footer {
  margin-top: 60px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}
