<div [@fadeSlow]="fadeState" class="content">
  <h2>Prinzipien & Soft Skills</h2>
  <p>
    Rein das technische Know-How reicht heutzutage als Entwickler nicht mehr aus. Vorallem spätestens dann nicht mehr
    wenn die Tätigkeiten eines Entwicklers mehr und mehr von den eines Consultant ergänzt wird. Desweiteren spielen Prinzipien bei mir
    eine große Rolle - Ebenso in der Berufswelt. Auf die folgende Prinzipien setze ich verstärkt den Fokus.
  </p>
  <div (appOnviewport)="animateContent()" class="row justify-content-center text-center subcontent">
    <div *ngFor="let characteristic of charateristics" class="col-md-6 text-center mb-5">
      <div class="icon" *ngIf="characteristic.type == 'INTERDISCIPLINARY'">
        <fa-icon [icon]="overallIcon" size="3x" transform="down-08 right-2"></fa-icon>
      </div>
      <div class="icon" *ngIf="characteristic.type == 'VISION'">
        <fa-icon [icon]="visionIcon" size="3x" transform="down-09"></fa-icon>
      </div>
      <div class="icon" *ngIf="characteristic.type == 'COMPLETEPACKAGE'">
        <fa-icon [icon]="completeIcon" size="3x" transform="down-10 right-0"></fa-icon>
      </div>
      <div class="icon" *ngIf="characteristic.type == 'FLEXIBILITY'">
        <fa-icon [icon]="flexibilityIcon" size="3x" transform="down-10"></fa-icon>
      </div>
      <div class="icon" *ngElse>
        <fa-icon [icon]="otherIcon" size="3x" transform="right-1 down-09"></fa-icon>
      </div>
      <h5>{{ formateCharacteristicType(characteristic.type) }}</h5>
      <p>{{ characteristic.text }}</p>
    </div>

    <!-- TO DO to be removed -->
    <!--
    <div class="col-md-6 text-center mb-5">
      <div class="icon">
        <fa-icon [icon]="otherIcon" size="3x" transform="down-11"></fa-icon>
      </div>
      <h5>Vision</h5>
      <p>Ich brenne für die Entwicklung von Frontend-Applikationen, welche dem Benutzer eine attraktive User Experience gewährleisten und mittels jener Funktionalitäten elegant und verständlich zugänglich gemacht werden. Der Zwiespalt zwischen Eleganz und Funktionsvielfalt reizt mich - Dies ist die Motivation für mich zur Aneignung modernster Frontend-Technologien.</p>
    </div>
    -->
  </div>
</div>
