@import "globalvariables";

header {
  margin-bottom: $header-maxheight;
  max-height: $header-maxheight;
}

.navbar{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0.9;
}

.navbar-brand {
  margin-right: 5vw;
  margin-left: 1vw;
}
