<div [@fadeSlow]="fadeState" class="content">
  <h2>Mein Werdegang</h2>
  <p>
    Das ist noch eine schöne Beschreibung
  </p>

  <div class="jobcontent" *ngIf="fulltimeJobEntries.length">
    <h4>Meine Jobs</h4>
    <p>
      Das ist eine Beschreibung.
    </p>
    <ul class="timeline">
      <li *ngFor="let job of fulltimeJobEntries; let i = index">
          <div class="row">
            <div class="col-12">
              <span class="dateintervall">
                <span *ngIf="!job.tillDate">{{ job.fromDate | date:'dd.MM.yyyy' }} - dato</span>
                <span *ngIf="job.tillDate">{{ job.fromDate | date:'dd.MM.yyyy' }} - {{ job.tillDate | date:'dd.MM.yyyy' }}</span>
              </span>
            </div>
            <div class="col-12" *ngIf="job.icon && i == 0">
              <div class="img-container">
              <img class="img-fluid" [src]="formatService.revealContentfulImageUrl(job.icon)" />
              </div>
            </div>
            <div class="col-12 textcenter">
              <h4>{{ job.title }}</h4>
            </div>
            <div class="col-12 textcenter">
                <span>bei </span>
                <a target="_blank" [href]="job.url">{{ job.company }}</a>
            </div>
          </div>
        <div class="row justify-content-center">
          <p class="description">{{ job.description }}</p>
        </div>
      </li>
    </ul>
  </div>

  <div [@fadeSlow]="fadeSideJobsState" class="jobcontent" *ngIf="sideJobEntries.length">
    <h4>Meine Nebentätigkeiten</h4>
    <p>
      Das ist eine Beschreibung.
    </p>
    <ul class="timeline">
      <li *ngFor="let sidejob of sideJobEntries">
        <div class="row">
          <div class="col-12">
            <span class="dateintervall">
              <span *ngIf="!sidejob.tillDate">{{ sidejob.fromDate | date:'dd.MM.yyyy' }} - dato</span>
              <span *ngIf="sidejob.tillDate">{{ sidejob.fromDate | date:'dd.MM.yyyy' }} - {{ sidejob.tillDate | date:'dd.MM.yyyy' }}</span>
            </span>
          </div>
          <div class="col-12" *ngIf="sidejob.icon && i == 0">
            <div class="img-container">
            <img class="img-fluid" [src]="formatService.revealContentfulImageUrl(sidejob.icon)" />
            </div>
          </div>
          <div class="col-12 textcenter">
            <h4>{{ sidejob.title }}</h4>
          </div>
          <div class="col-12 textcenter">
              <span>bei </span>
              <a target="_blank" [href]="sidejob.url">{{ sidejob.company }}</a>
          </div>
        </div>
        <div class="row justify-content-center">
          <p (appOnviewport)="animateSideJobs()" class="description">{{ sidejob.description }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
