<div class="content">
  <h2>Mein Werdegang</h2>

  <div class="subcontent">
    <div class="jobcontent">
      <div class="row justfiy-content-center">
        <div class="col">
          <div class="card mb-3 mt-3">
            <div class="card-header bg-transparent">Place Image here</div>
            <div class="card-body">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
            <div class="card-footer bg-transparent">Link</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
