<div [@fadeSlow]="fadeState" class="content">
  <h2>Meine Fähigkeiten</h2>
  <p>In der Branche der Software-Entwicklung gehört es zum Alltag Thematiken eindeutig zu definieren, um eine Klassifizierung
    sowie eine Minimierung von Missverständlichkeit gewährleisten zu können.
    Drum definiere ich meinen bisherigen Technology-Stack - unmissverständlich.
    Auf dieser Seite finden Sie mein gesamtes, berufsübergreifendes, Skillset.
  </p>

  <!-- Frontend-Chart-Content -->
  <div class="chartContentArea">
    <h3>Frontend-Technologien</h3>
    <ul class="nav justify-content-center" id="myTab" role="tablist">
      <li class="nav-item nav-item-customborder">
        <a
          class="nav-link active"
          id="frontendtech-tab"
          data-toggle="tab"
          href="#frontendtech"
          role="tab"
          aria-controls="frontendtech"
          aria-selected="true"
          >Technologien</a
        >
      </li>
      <li class="nav-item nav-item-customborder">
        <a
          class="nav-link"
          id="frontendlang-tab"
          data-toggle="tab"
          href="#frontendlang"
          role="tab"
          aria-controls="frontendlang"
          aria-selected="false"
          >Programmiersprachen</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myFrontendTabContent">
      <div
        class="tab-pane fade show active"
        id="frontendtech"
        role="tabpanel"
        aria-labelledby="frontendtech-tab"
      >
        <div class="card-body">
          <h5 class="card-title">Frontend-Technologien</h5>
          <div class="card-text">
            <div class="row card-content">
              <div
                class="col"
                *ngIf="
                  technologyDescriptions &&
                  technologyDescriptions &&
                  getTechnologyLayerDescriptions('Frontend')
                "
              >
                <p>
                  {{
                    getTechnologyLayerDescriptions("Frontend")
                      .technologyDescriptionText
                  }}
                </p>
                <div class="d-lg-none">
                  <p class="mobilenotifer">
                    Eine grafische Übersicht ist auf einer höheren Auflösung ihres Devices ersichtlich.<br>
                    Oder Sie drehen einfach Ihr Tablet.
                  </p>
                </div>
              </div>
              <div class="col-md-5 mt-3" *ngIf="frontendTechList">
                <span
                  *ngFor="let technology of frontendTechList"
                  class="badge badge-pill badge-secondary"
                  >{{ technology }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="frontendlang"
        role="tabpanel"
        aria-labelledby="frontendlang-tab"
      >
        <div class="card-body">
          <h5 class="card-title">Spektrum der Programmiersprachen</h5>
          <div class="card-text">
            <div class="row card-content">
              <div
                class="col"
                *ngIf="
                  technologyDescriptions &&
                  getTechnologyLayerDescriptions('Frontend')
                "
              >
                <p>
                  {{
                    getTechnologyLayerDescriptions("Frontend")
                      .languageDescriptionText
                  }}
                </p>
                <div class="d-lg-none">
                  <p class="mobilenotifer">
                    Eine grafische Übersicht ist auf einer höheren Auflösung ihres Devices ersichtlich.<br>
                    Oder Sie drehen einfach Ihr Tablet.
                  </p>
                </div>
              </div>
              <div class="col-md-5 mt-3" *ngIf="frontendLangList">
                <span
                  *ngFor="let language of frontendLangList"
                  class="badge badge-pill badge-secondary"
                  >{{ language }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row justify-content-center align-middle"
      *ngIf="frontendTechChartSeries && frontendLangChartSeries"
    >
      <div class="col-md-6 d-none d-lg-block">
        <div class="chartContainer">
          <apx-chart
            [series]="frontendTechChartSeries"
            [chart]="chartType"
            [title]="techChartTitle"
            [xaxis]="frontendTechChartXaxis"
            [theme]="chartTheme"
            [dataLabels]="chartDataLabels"
          >
          </apx-chart>
        </div>
      </div>
      <div class="col-md-6 d-none d-lg-block">
        <div class="chartContainer">
          <apx-chart
            [series]="frontendLangChartSeries"
            [chart]="chartType"
            [title]="langChartTitle"
            [xaxis]="frontendLangChartXaxis"
            [theme]="chartTheme"
            [dataLabels]="chartDataLabels"
          >
          </apx-chart>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <span class="dividerline"></span>
    </div>
  </div>

  <!-- MiddleWare Chart Content -->
  <div class="chartContentArea">
    <h3>Middleware-Technologien</h3>
    <ul class="nav  justify-content-center" id="myTab" role="tablist">
      <li class="nav-item nav-item-customborder">
        <a
          class="nav-link active"
          id="middlewaretech-tab"
          data-toggle="tab"
          href="#middlewaretech"
          role="tab"
          aria-controls="middlewaretech"
          aria-selected="true"
          >Technologien</a
        >
      </li>
      <li class="nav-item nav-item-customborder">
        <a
          class="nav-link"
          id="middlewarelang-tab"
          data-toggle="tab"
          href="#middlewarelang"
          role="tab"
          aria-controls="middlewarelang"
          aria-selected="false"
          >Programmiersprachen</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="middlewaretech"
        role="tabpanel"
        aria-labelledby="middlewaretech-tab"
      >
        <div class="card-body">
          <h5 class="card-title">Middleware-Technologien</h5>
          <div class="card-text">
            <div class="row card-content">
              <div
                class="col"
                *ngIf="
                  technologyDescriptions &&
                  getTechnologyLayerDescriptions('Middleware')
                "
              >
                <p>
                  {{
                    getTechnologyLayerDescriptions("Middleware")
                      .technologyDescriptionText
                  }}
                </p>
                <div class="d-lg-none">
                  <p class="mobilenotifer">
                    Eine grafische Übersicht ist auf einer höheren Auflösung ihres Devices ersichtlich.<br>
                    Oder Sie drehen einfach Ihr Tablet.
                  </p>
                </div>
              </div>
              <div class="col-md-5 mt-3" *ngIf="middlewareTechList">
                <span
                  *ngFor="let technology of middlewareTechList"
                  class="badge badge-pill badge-secondary"
                  >{{ technology }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="middlewarelang"
        role="tabpanel"
        aria-labelledby="middlewarelang-tab"
      >
        <div class="card-body">
          <h5 class="card-title">Spektrum der Programmiersprachen</h5>
          <div class="card-text">
            <div class="row card-content">
              <div
                class="col"
                *ngIf="
                  technologyDescriptions &&
                  getTechnologyLayerDescriptions('Middleware')
                "
              >
                <p>
                  {{
                    getTechnologyLayerDescriptions("Middleware")
                      .languageDescriptionText
                  }}
                </p>
                <div class="d-lg-none">
                  <p class="mobilenotifer">
                    Eine grafische Übersicht ist auf einer höheren Auflösung ihres Devices ersichtlich.<br>
                    Oder Sie drehen einfach Ihr Tablet.
                  </p>
                </div>
              </div>
              <div class="col-md-5 mt-3" *ngIf="middlewareLangList">
                <span
                  *ngFor="let language of middlewareLangList"
                  class="badge badge-pill badge-secondary"
                  >{{ language }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row justify-content-center align-middle"
      *ngIf="middlewareTechChartSeries && middlewareLangChartSeries"
    >
      <div class="col-md-6 d-none d-lg-block">
        <div class="chartContainer">
          <apx-chart
            [series]="middlewareTechChartSeries"
            [chart]="chartType"
            [title]="techChartTitle"
            [xaxis]="middlewareTechChartXaxis"
            [theme]="chartTheme"
            [dataLabels]="chartDataLabels"
          >
          </apx-chart>
        </div>
      </div>
      <div class="col-md-6">
        <div class="chartContainer d-none d-lg-block">
          <apx-chart
            [series]="middlewareLangChartSeries"
            [chart]="chartType"
            [title]="langChartTitle"
            [xaxis]="middlewareLangChartXaxis"
            [theme]="chartTheme"
            [dataLabels]="chartDataLabels"
          >
          </apx-chart>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <span class="dividerline"></span>
    </div>
  </div>

  <!-- Backend Chart Content -->
  <div class="chartContentArea">
    <h3>Backend-Technologien</h3>
    <ul class="nav justify-content-center" id="myTab" role="tablist">
      <li class="nav-item nav-item-customborder">
        <a
          class="nav-link active"
          id="backendtech-tab"
          data-toggle="tab"
          href="#backendtech"
          role="tab"
          aria-controls="backendtech"
          aria-selected="true"
          >Technologien</a
        >
      </li>
      <li class="nav-item nav-item-customborder">
        <a
          class="nav-link"
          id="backendlang-tab"
          data-toggle="tab"
          href="#backendlang"
          role="tab"
          aria-controls="backendlang"
          aria-selected="false"
          >Programmiersprachen</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="backendtech"
        role="tabpanel"
        aria-labelledby="backendtech-tab"
      >
        <div class="card-body">
          <h5 class="card-title">Backend-Technologien</h5>
          <div class="card-text">
            <div class="row card-content">
              <div
                class="col"
                *ngIf="
                  technologyDescriptions &&
                  getTechnologyLayerDescriptions('Backend')
                "
              >
                <p>
                  {{
                    getTechnologyLayerDescriptions("Backend")
                      .technologyDescriptionText
                  }}
                </p>
                <div class="d-lg-none">
                  <p class="mobilenotifer">
                    Eine grafische Übersicht ist auf einer höheren Auflösung ihres Devices ersichtlich.<br>
                    Oder Sie drehen einfach Ihr Tablet.
                  </p>
                </div>
              </div>
              <div class="col-md-5 mt-3" *ngIf="backendTechList">
                <span
                  *ngFor="let technology of backendTechList"
                  class="badge badge-pill badge-secondary"
                  >{{ technology }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="backendlang"
        role="tabpanel"
        aria-labelledby="backendlang-tab"
      >
        <div class="card-body">
          <h5 class="card-title">Spektrum der Programmiersprachen</h5>
          <div class="card-text">
            <div class="row card-content">
              <div
                class="col"
                *ngIf="
                  technologyDescriptions &&
                  getTechnologyLayerDescriptions('Backend')
                "
              >
                <p>
                  {{
                    getTechnologyLayerDescriptions("Backend")
                      .languageDescriptionText
                  }}
                </p>
                <div class="d-lg-none">
                  <p class="mobilenotifer">
                    Eine grafische Übersicht ist auf einer höheren Auflösung ihres Devices ersichtlich.<br>
                    Oder Sie drehen einfach Ihr Tablet.
                  </p>
                </div>
              </div>
              <div class="col-md-5 mt-3" *ngIf="backendLangList">
                <span
                  *ngFor="let language of backendLangList"
                  class="badge badge-pill badge-secondary"
                  >{{ language }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row justify-content-center align-middle"
      *ngIf="backendTechChartSeries && backendLangChartSeries"
    >
      <div class="col-md-6">
        <div class="chartContainer d-none d-lg-block">
          <apx-chart
            [series]="backendTechChartSeries"
            [chart]="chartType"
            [title]="techChartTitle"
            [xaxis]="backendTechChartXaxis"
            [theme]="chartTheme"
            [dataLabels]="chartDataLabels"
          >
          </apx-chart>
        </div>
      </div>
      <div class="col-md-6">
        <div class="chartContainer d-none d-lg-block">
          <apx-chart
            [series]="backendLangChartSeries"
            [chart]="chartType"
            [title]="langChartTitle"
            [xaxis]="backendLangChartXaxis"
            [theme]="chartTheme"
            [dataLabels]="chartDataLabels"
          >
          </apx-chart>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <span class="dividerline"></span>
    </div>
  </div>

  <div *ngIf="otherSkills" class="chartContentArea otherContent">
    <h3>Weitere Technologien und Kenntnisse</h3>
    <p>Nicht eindeutig zuordenbare, aber nicht zu vernachlässigende Thematiken sowie Skills zähle ich in dieser Sektion auf:</p>
    <div class="row justify-content-center">
      <span *ngFor="let otherSkill of otherSkills" class="badge badge-pill badge-pill-customcolor">{{ otherSkill.title }}</span>
    </div>
  </div>
</div>
