@import "globalvariables";

.row {
  margin-top: 2vh;
}

.card {
  width: 100%;
  min-height: 30vh;
}

.chartContainer {
  max-width: 600px;
  max-height: 600px;
  // border: solid 5px $secondary-color;
}
