<div id="notavailablecontent">
  <div class="row justify-content-center h-100">
    <div [@flyInOnEnter1]="openingContent" class="col-12 bottomTitle text-center">
      <h1>Sorry :-(</h1>
    </div>
    <div [@flyInOnEnter1]="openingContent" class="col-md-5 bottom text-center">
      <p>Aufgrund von Wartungsarbeiten am Content Management System ist die Webseite aktuell nicht aufrufbar.
        Gerne können Sie mich auf klassischen Wege via Email oder über die Social Media Kanäle erreichen.
      </p>
      <div class="card-container">
        <a class="custom_card" rel="noopener" routerLink="/contact">Kontakt</a>
      </div>
    </div>
  </div>
</div>
