@import "globalvariables";

#notavailablecontent::before {
  content: "";
  position: absolute;
  z-index: 1500!important;
  width: 100vw;
  height: calc(100vh);
  transform: translateY(-(#{$header-maxheight}));
  z-index: -1;

  background: linear-gradient($background-gradient-notavailablepage, $background-gradient-notavailablepage),
    url('../../../assets/images/website_background.jpg') no-repeat top center / cover;

  // background-position-y: $header-maxheight; // Space von Navbar-Höhe
  // background-position: center right;
  background-color: $navbar-color; // Navback-Background Space
}

#notavailablecontent {
  width: 100vw;
  height: calc(100vh - #{$header-maxheight});
  display: flex;
  margin: $header-maxheight auto;
  padding: 0 16px;
  max-width: 1500px; // default: 960
  flex-direction: column;
  align-items: center;
}

.row {
  z-index: 1600;
}

.bottom {
  align-self: flex-end;
  height: 50vh;

  .card-container {
    margin-top: 5vh;

    .custom_card {
      background-color: transparent;
      color: white;
    }
  }
}

.bottomTitle {
  //background: green;
  align-self: flex-end;
  height: 10vh;
}

h1 {
  font-size: 3.2em;
  color: $fontcolor-openingpage;
}

p {
  font-size: 1.6em;
  color: $fontcolor-openingpage;
}
