<div class="content">
  <h2>Meine privaten Projekte</h2>
  <p>Das ist eine Beschreibung, welche in Zukunft noch detailliert ausgeführt wird.</p>

  <div class="row justify-content-center subcontent">
    <div class="col-md-5">
      <h4>Meine Projektüberschrift</h4>
      <p>Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin.
        Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin.
        Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin.
      </p>
    </div>
    <div class="col-md-7">
      <div class="imageContainer right">
        <!-- TO DO -->
      </div>
    </div>
    <div class="col-md-12">
      <p>Eingesetzte Technologien: <span>Test1</span> <span>Test2</span> <span>Test3</span></p>
    </div>
  </div>

  <div class="row justify-content-center subcontent">
    <div class="col-md-7">
      <div class="imageContainer left">
        <!-- TO DO -->
      </div>
    </div>
    <div class="col-md-5">
      <h4>Meine Projektüberschrift</h4>
      <p>Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin.
        Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin.
        Mein Projekttext kommt hierhin. Mein Projekttext kommt hierhin.
      </p>
    </div>
    <div class="col-md-12">
      <p>Eingesetzte Technologien: <span>Test1</span> <span>Test2</span> <span>Test3</span></p>
    </div>
  </div>

</div>
