@import "globalvariables";

.subcontent {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.content-right .imageContainer {
  margin-left: auto;
}

.content-left .imageContainer {
  margin-right: auto;
}

.imageContainer {
  // max-width: 500px;
}
